*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
img{
	display: block;
	width: 100%;
}
.page-wrapper{
	width: 706px;
	background-color: #39839a;
	margin: 0 auto;
	padding: 37px 10px 20px;
}
.main-wrap{
	padding: 0px 23px 25px;
	background-color: #fff;
}
.main-text-p{
	display: block;
	text-align: center;
	padding-bottom: 21px;
}
.main_content_wrap{
	padding: 19px 50px 30px;
}
.main-text ul{
	padding-left: 40px;
	padding-top: 18px;
}
.main-text-top{
	padding-bottom: 34px;
}
.offer-wrap{
	width: 255px;
	float: left;
	padding-top: 35px;
	
}
.row{

	min-height: 347px; 
}
.offer-btn{
	width: 100%;
	height: 41px;
	display: inline-block;
	text-align: center;
	background-color: #dd5948;
	border-radius: 3px;
	padding-top: 10px;
	}
.offer-btn a{
	text-decoration: none;
	line-height: 10px;
	color: #ffffff;
	font-weight: bold;
}
.clearfix{
	clear: both;
}

.offer-wrap:nth-child(odd){
	margin-right: 30px;
}
.offer-text{
	font-weight: bold;
	padding: 20px 0px;
	text-align: center;
}
.main-text-botton{
	padding: 33px 0px 22px;
}
.main_text_contact{
	padding-bottom: 35px;
}
footer{
	background-color: #39849a;
	text-align: center;
	color: #ffffff;
}
.social {
	width: 74px;
	padding: 30px 0px 24px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.social img{
	width: 32px;

}
.footer_text{
	padding-top: 24px;
	padding-bottom: 28px;
}
.footer_text a{
	color: #ffffff;
	font-weight: bold;
}