:root{
  --brand-color:#3e898c;
}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
img{
	display: block;
	width: 100%;
}
.wrapper{
	width: 500px;
	min-height: 719px;
 	margin: 0 auto;
}
.calc{
	border:3px solid var(--brand-color);
	width: 408px;
	height: 632px;
	padding-top: 17px;
	border-radius: 15px;
	position: relative;
}
.logo{
	height: 54px;
	background-color: var(--brand-color);
	line-height: 54px;
	text-align: right;
	padding-right: 30px;
	color: #ffffff;
	font-size: 25px;
}
.calc_input{
	margin-top: 13px;
	border:3px solid var(--brand-color);
	width: calc(100% - 14px);
	margin-left: 7px;
	height: 47px;
	border-radius: 5px;
	color: var(--brand-color);
	direction: rtl;
}
.tophead{
	width: 136px;
	height: 48px;
	background-color: var(--brand-color);
	margin-top: 12px;
	position: absolute;
	right: 12px;

}
.row{ 

	position: relative;
	top:82px;
	height:80px;
	margin-bottom: 20px;
}
.item{
	position: absolute;
	width: 80px;
	height: 80px;
	border: 3px solid var(--brand-color);
	border-radius: 7px;
	text-align: center;
	line-height: 80px;
	color: var(--brand-color);
	font-size: 30px;
}
.item_position1{
	left: 23px;
}
.item_position2{
	left: 117px;
}
.item_position3{
	left: 214px;
}
.item_position4{
	left: 310px;
}

.item:hover{
	transform: scale(1.2);
}
.item:active{
	background-color: green;

}